@import '../shared.css';

@-webkit-keyframes cursor-blink {
  0%		{ border-color: rgba(247, 77, 49, 0); }
	50%		{ border-color: rgba(247, 77, 49, 0); }
  100%	{ border-color: rgba(247, 77, 49, 1); }
}

@keyframes cursor-blink {
  0%		{ border-color: rgba(247, 77, 49, 0); }
	50%		{ border-color: rgba(247, 77, 49, 0); }
  100%	{ border-color: rgba(247, 77, 49, 1); }
}

.highlight {
	color: var(--coral);
}

body {
	--coral: #f74d31;
}

#timer {
	text-align: left;
	font-size: 2em;
	width: 30%;
}

#score {
	background-color: var(--coral);
}

#word-bank > li:not(.filled):first-of-type,
#word-bank > li.active {
	border-bottom: 2px solid var(--coral);
}

#input {
	border-right: 4px solid var(--coral);
}

.tile {
	background-image: url('../assets/hex-grey.svg')
}

.key {
	background-image: url('../assets/hex-red.svg')
}

#congrats {
	display: none;
	position: absolute;
	background-color: black;
  height: 100vh;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 1;
	color: white;

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;

	font-family: magslab;
}

#congrats > h1 {
	font-family: magslab;
	font-size: 4em;
}

#congrats > p {
	margin-top: 10px;
	font-size: 2em;
	line-height: 1.4;
	text-align: center;
	width: 80%;
}

#congrats .score {
	font-size: 4em;
}
